/*------------------------------------------------------------------
[Alerts]
*/

.alert {
	border: 0;
	border-radius: $brand-radius;
	padding: 20px;
}
.alert-brand {
	background: $brand-primary;
	color: darken($brand-primary,20%);
	.alert-link {
		color: darken($brand-primary,25%);
	}
}

