/*------------------------------------------------------------------
[Backgrounds]
*/

/* --- [ Backgrounds ] --- */

.bg-white {
	background-color: $pure-white !important;
}

.bg-white-dark {
	background-color: $grey-lighter-8 !important;
}

.bg-white-darken {
	background-color: $grey-lighter-5 !important;
}

.bg-gray {
	background-color: $grey-7 !important;
}

.bg-gray-light {
	background-color: $grey-9 !important;
}

.bg-gray-lighter {
	background-color: $grey-light-5 !important;
}

.bg-black {
	background-color: $pure-black !important;
}

.bg-black-light {
	background-color: $grey-dark-2 !important;
}

.bg-black-lighter {
	background-color: $grey-dark-3 !important;
}

.bg-brand {
	background-color: $brand-primary !important;
}

.bg-brand-hvr {
	background-color: darken($brand-primary, 10%) !important;
}

.bg-facebook {
	background-color: #3b5998 !important;
}

.bg-twitter {
	background-color: #00aced !important;
}

.bg-google {
	background-color: #dd4b39 !important;
}

.bg-linkedin {
	background-color: #007bb6 !important;
}

.bg-youtube {
	background-color: #bb0000 !important;
}

.bg-instagram {
	background-color: #517fa4 !important;
}

.bg-pinterest {
	background-color: #cb2027 !important;
}

.bg-flickr {
	background-color: #ff0084 !important;
}

.bg-tumblr {
	background-color: #32506d !important;
}

.bg-forusquare {
	background-color: #0072b1 !important;
}

.bg-dribbble {
	background-color: #ea4c89 !important;
}

.bg-vine {
	background-color: #00bf8f !important;
}

.bg-skype {
	background-color: #17a3eb !important;
}

.bg-wordpress {
	background-color: #2592c3 !important;
}

.bg-behance {
	background-color: #1879fd !important;
}

.bg-soundcloud {
	background-color: #ff7e30 !important;
}

.bg-stumbleupon {
	background-color: #ff5c30 !important;
}

.bg-deviantart {
	background-color: #6a8a7b !important;
}

.bg-yahoo {
	background-color: #ab47ac !important;
}

.bg-digg {
	background-color: #75788d !important;
}

.bg-github {
	background-color: #3f91cb !important;
}

.bg-lastfm {
	background-color: #f34320 !important;
}

.bg-vk {
	background-color: #2b587a !important;
}

/* --- [ Alfa backgrounds ] --- */

.bg-black-alfa-5:before,
.bg-black-alfa-10:before,
.bg-black-alfa-15:before,
.bg-black-alfa-20:before,
.bg-black-alfa-25:before,
.bg-black-alfa-30:before,
.bg-black-alfa-35:before,
.bg-black-alfa-40:before,
.bg-black-alfa-45:before,
.bg-black-alfa-50:before,
.bg-black-alfa-55:before,
.bg-black-alfa-60:before,
.bg-black-alfa-65:before,
.bg-black-alfa-70:before,
.bg-black-alfa-75:before,
.bg-black-alfa-80:before,
.bg-black-alfa-85:before,
.bg-black-alfa-90:before,
.bg-black-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-black-alfa-5:before,
.bg-black-alfa-10:before,
.bg-black-alfa-15:before,
.bg-black-alfa-20:before,
.bg-black-alfa-25:before,
.bg-black-alfa-30:before,
.bg-black-alfa-35:before,
.bg-black-alfa-40:before,
.bg-black-alfa-45:before,
.bg-black-alfa-50:before,
.bg-black-alfa-55:before,
.bg-black-alfa-60:before,
.bg-black-alfa-65:before,
.bg-black-alfa-70:before,
.bg-black-alfa-75:before,
.bg-black-alfa-80:before,
.bg-black-alfa-85:before,
.bg-black-alfa-90:before,
.bg-black-alfa-95:before {
	background: rgba($pure-black, 0.05);
}

.bg-black-alfa-10:before {
	background: rgba($pure-black, 0.1);
}

.bg-black-alfa-15:before {
	background: rgba($pure-black, 0.15);
}

.bg-black-alfa-20:before {
	background: rgba($pure-black, 0.2);
}

.bg-black-alfa-25:before {
	background: rgba($pure-black, 0.25);
}

.bg-black-alfa-30:before {
	background: rgba($pure-black, 0.3);
}

.bg-black-alfa-35:before {
	background: rgba($pure-black, 0.35);
}

.bg-black-alfa-40:before {
	background: rgba($pure-black, 0.4);
}

.bg-black-alfa-45:before {
	background: rgba($pure-black, 0.45);
}

.bg-black-alfa-50:before {
	background: rgba($pure-black, 0.5);
}

.bg-black-alfa-55:before {
	background: rgba($pure-black, 0.55);
}

.bg-black-alfa-60:before {
	background: rgba($pure-black, 0.6);
}

.bg-black-alfa-65:before {
	background: rgba($pure-black, 0.65);
}

.bg-black-alfa-70:before {
	background: rgba($pure-black, 0.7);
}

.bg-black-alfa-75:before {
	background: rgba($pure-black, 0.75);
}

.bg-black-alfa-80:before {
	background: rgba($pure-black, 0.8);
}

.bg-black-alfa-85:before {
	background: rgba($pure-black, 0.85);
}

.bg-black-alfa-90:before {
	background: rgba($pure-black, 0.9);
}

.bg-black-alfa-95:before {
	background: rgba($pure-black, 0.95);
}

.bg-white-alfa-5:before,
.bg-white-alfa-10:before,
.bg-white-alfa-15:before,
.bg-white-alfa-20:before,
.bg-white-alfa-25:before,
.bg-white-alfa-30:before,
.bg-white-alfa-35:before,
.bg-white-alfa-40:before,
.bg-white-alfa-45:before,
.bg-white-alfa-50:before,
.bg-white-alfa-55:before,
.bg-white-alfa-60:before,
.bg-white-alfa-65:before,
.bg-white-alfa-70:before,
.bg-white-alfa-75:before,
.bg-white-alfa-80:before,
.bg-white-alfa-85:before,
.bg-white-alfa-90:before,
.bg-white-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-white-alfa-5:before,
.bg-white-alfa-10:before,
.bg-white-alfa-15:before,
.bg-white-alfa-20:before,
.bg-white-alfa-25:before,
.bg-white-alfa-30:before,
.bg-white-alfa-35:before,
.bg-white-alfa-40:before,
.bg-white-alfa-45:before,
.bg-white-alfa-50:before,
.bg-white-alfa-55:before,
.bg-white-alfa-60:before,
.bg-white-alfa-65:before,
.bg-white-alfa-70:before,
.bg-white-alfa-75:before,
.bg-white-alfa-80:before,
.bg-white-alfa-85:before,
.bg-white-alfa-90:before,
.bg-white-alfa-95:before {
	background: rgba($pure-white, 0.05);
}

.bg-white-alfa-10:before {
	background: rgba($pure-white, 0.1);
}

.bg-white-alfa-15:before {
	background: rgba($pure-white, 0.15);
}

.bg-white-alfa-20:before {
	background: rgba($pure-white, 0.2);
}

.bg-white-alfa-25:before {
	background: rgba($pure-white, 0.25);
}

.bg-white-alfa-30:before {
	background: rgba($pure-white, 0.3);
}

.bg-white-alfa-35:before {
	background: rgba($pure-white, 0.35);
}

.bg-white-alfa-40:before {
	background: rgba($pure-white, 0.4);
}

.bg-white-alfa-45:before {
	background: rgba($pure-white, 0.45);
}

.bg-white-alfa-50:before {
	background: rgba($pure-white, 0.5);
}

.bg-white-alfa-55:before {
	background: rgba($pure-white, 0.55);
}

.bg-white-alfa-60:before {
	background: rgba($pure-white, 0.6);
}

.bg-white-alfa-65:before {
	background: rgba($pure-white, 0.65);
}

.bg-white-alfa-70:before {
	background: rgba($pure-white, 0.7);
}

.bg-white-alfa-75:before {
	background: rgba($pure-white, 0.75);
}

.bg-white-alfa-80:before {
	background: rgba($pure-white, 0.8);
}

.bg-white-alfa-85:before {
	background: rgba($pure-white, 0.85);
}

.bg-white-alfa-90:before {
	background: rgba($pure-white, 0.9);
}

.bg-white-alfa-95:before {
	background: rgba($pure-white, 0.95);
}

.bg-brand-alfa-5:before,
.bg-brand-alfa-10:before,
.bg-brand-alfa-15:before,
.bg-brand-alfa-20:before,
.bg-brand-alfa-25:before,
.bg-brand-alfa-30:before,
.bg-brand-alfa-35:before,
.bg-brand-alfa-40:before,
.bg-brand-alfa-45:before,
.bg-brand-alfa-50:before,
.bg-brand-alfa-55:before,
.bg-brand-alfa-60:before,
.bg-brand-alfa-65:before,
.bg-brand-alfa-70:before,
.bg-brand-alfa-75:before,
.bg-brand-alfa-80:before,
.bg-brand-alfa-85:before,
.bg-brand-alfa-90:before,
.bg-brand-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-brand-alfa-5:before,
.bg-brand-alfa-10:before,
.bg-brand-alfa-15:before,
.bg-brand-alfa-20:before,
.bg-brand-alfa-25:before,
.bg-brand-alfa-30:before,
.bg-brand-alfa-35:before,
.bg-brand-alfa-40:before,
.bg-brand-alfa-45:before,
.bg-brand-alfa-50:before,
.bg-brand-alfa-55:before,
.bg-brand-alfa-60:before,
.bg-brand-alfa-65:before,
.bg-brand-alfa-70:before,
.bg-brand-alfa-75:before,
.bg-brand-alfa-80:before,
.bg-brand-alfa-85:before,
.bg-brand-alfa-90:before,
.bg-brand-alfa-95:before {
	background: rgba($brand-primary, 0.05);
}

.bg-brand-alfa-10:before {
	background: rgba($brand-primary, 0.1);
}

.bg-brand-alfa-15:before {
	background: rgba($brand-primary, 0.15);
}

.bg-brand-alfa-20:before {
	background: rgba($brand-primary, 0.2);
}

.bg-brand-alfa-25:before {
	background: rgba($brand-primary, 0.25);
}

.bg-brand-alfa-30:before {
	background: rgba($brand-primary, 0.3);
}

.bg-brand-alfa-35:before {
	background: rgba($brand-primary, 0.35);
}

.bg-brand-alfa-40:before {
	background: rgba($brand-primary, 0.4);
}

.bg-brand-alfa-45:before {
	background: rgba($brand-primary, 0.45);
}

.bg-brand-alfa-50:before {
	background: rgba($brand-primary, 0.5);
}

.bg-brand-alfa-55:before {
	background: rgba($brand-primary, 0.55);
}

.bg-brand-alfa-60:before {
	background: rgba($brand-primary, 0.6);
}

.bg-brand-alfa-65:before {
	background: rgba($brand-primary, 0.65);
}

.bg-brand-alfa-70:before {
	background: rgba($brand-primary, 0.7);
}

.bg-brand-alfa-75:before {
	background: rgba($brand-primary, 0.75);
}

.bg-brand-alfa-80:before {
	background: rgba($brand-primary, 0.8);
}

.bg-brand-alfa-85:before {
	background: rgba($brand-primary, 0.85);
}

.bg-brand-alfa-90:before {
	background: rgba($brand-primary, 0.9);
}

.bg-brand-alfa-95:before {
	background: rgba($brand-primary, 0.95);
}

.bg-brand1-alfa-5:before,
.bg-brand1-alfa-10:before,
.bg-brand1-alfa-15:before,
.bg-brand1-alfa-20:before,
.bg-brand1-alfa-25:before,
.bg-brand1-alfa-30:before,
.bg-brand1-alfa-35:before,
.bg-brand1-alfa-40:before,
.bg-brand1-alfa-45:before,
.bg-brand1-alfa-50:before,
.bg-brand1-alfa-55:before,
.bg-brand1-alfa-60:before,
.bg-brand1-alfa-65:before,
.bg-brand1-alfa-70:before,
.bg-brand1-alfa-75:before,
.bg-brand1-alfa-80:before,
.bg-brand1-alfa-85:before,
.bg-brand1-alfa-90:before,
.bg-brand1-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-brand1-alfa-5:before,
.bg-brand1-alfa-10:before,
.bg-brand1-alfa-15:before,
.bg-brand1-alfa-20:before,
.bg-brand1-alfa-25:before,
.bg-brand1-alfa-30:before,
.bg-brand1-alfa-35:before,
.bg-brand1-alfa-40:before,
.bg-brand1-alfa-45:before,
.bg-brand1-alfa-50:before,
.bg-brand1-alfa-55:before,
.bg-brand1-alfa-60:before,
.bg-brand1-alfa-65:before,
.bg-brand1-alfa-70:before,
.bg-brand1-alfa-75:before,
.bg-brand1-alfa-80:before,
.bg-brand1-alfa-85:before,
.bg-brand1-alfa-90:before,
.bg-brand1-alfa-95:before {
	background: rgba($brand1-bg, 0.05);
}

.bg-brand1-alfa-10:before {
	background: rgba($brand1-bg, 0.1);
}

.bg-brand1-alfa-15:before {
	background: rgba($brand1-bg, 0.15);
}

.bg-brand1-alfa-20:before {
	background: rgba($brand1-bg, 0.2);
}

.bg-brand1-alfa-25:before {
	background: rgba($brand1-bg, 0.25);
}

.bg-brand1-alfa-30:before {
	background: rgba($brand1-bg, 0.3);
}

.bg-brand1-alfa-35:before {
	background: rgba($brand1-bg, 0.35);
}

.bg-brand1-alfa-40:before {
	background: rgba($brand1-bg, 0.4);
}

.bg-brand1-alfa-45:before {
	background: rgba($brand1-bg, 0.45);
}

.bg-brand1-alfa-50:before {
	background: rgba($brand1-bg, 0.5);
}

.bg-brand1-alfa-55:before {
	background: rgba($brand1-bg, 0.55);
}

.bg-brand1-alfa-60:before {
	background: rgba($brand1-bg, 0.6);
}

.bg-brand1-alfa-65:before {
	background: rgba($brand1-bg, 0.65);
}

.bg-brand1-alfa-70:before {
	background: rgba($brand1-bg, 0.7);
}

.bg-brand1-alfa-75:before {
	background: rgba($brand1-bg, 0.75);
}

.bg-brand1-alfa-80:before {
	background: rgba($brand1-bg, 0.8);
}

.bg-brand1-alfa-85:before {
	background: rgba($brand1-bg, 0.85);
}

.bg-brand1-alfa-90:before {
	background: rgba($brand1-bg, 0.9);
}

.bg-brand1-alfa-95:before {
	background: rgba($brand1-bg, 0.95);
}

.bg-brand2-alfa-5:before,
.bg-brand2-alfa-10:before,
.bg-brand2-alfa-15:before,
.bg-brand2-alfa-20:before,
.bg-brand2-alfa-25:before,
.bg-brand2-alfa-30:before,
.bg-brand2-alfa-35:before,
.bg-brand2-alfa-40:before,
.bg-brand2-alfa-45:before,
.bg-brand2-alfa-50:before,
.bg-brand2-alfa-55:before,
.bg-brand2-alfa-60:before,
.bg-brand2-alfa-65:before,
.bg-brand2-alfa-70:before,
.bg-brand2-alfa-75:before,
.bg-brand2-alfa-80:before,
.bg-brand2-alfa-85:before,
.bg-brand2-alfa-90:before,
.bg-brand2-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-brand2-alfa-5:before,
.bg-brand2-alfa-10:before,
.bg-brand2-alfa-15:before,
.bg-brand2-alfa-20:before,
.bg-brand2-alfa-25:before,
.bg-brand2-alfa-30:before,
.bg-brand2-alfa-35:before,
.bg-brand2-alfa-40:before,
.bg-brand2-alfa-45:before,
.bg-brand2-alfa-50:before,
.bg-brand2-alfa-55:before,
.bg-brand2-alfa-60:before,
.bg-brand2-alfa-65:before,
.bg-brand2-alfa-70:before,
.bg-brand2-alfa-75:before,
.bg-brand2-alfa-80:before,
.bg-brand2-alfa-85:before,
.bg-brand2-alfa-90:before,
.bg-brand2-alfa-95:before {
	background: rgba($brand2-bg, 0.05);
}

.bg-brand2-alfa-10:before {
	background: rgba($brand2-bg, 0.1);
}

.bg-brand2-alfa-15:before {
	background: rgba($brand2-bg, 0.15);
}

.bg-brand2-alfa-20:before {
	background: rgba($brand2-bg, 0.2);
}

.bg-brand2-alfa-25:before {
	background: rgba($brand2-bg, 0.25);
}

.bg-brand2-alfa-30:before {
	background: rgba($brand2-bg, 0.3);
}

.bg-brand2-alfa-35:before {
	background: rgba($brand2-bg, 0.35);
}

.bg-brand2-alfa-40:before {
	background: rgba($brand2-bg, 0.4);
}

.bg-brand2-alfa-45:before {
	background: rgba($brand2-bg, 0.45);
}

.bg-brand2-alfa-50:before {
	background: rgba($brand2-bg, 0.5);
}

.bg-brand2-alfa-55:before {
	background: rgba($brand2-bg, 0.55);
}

.bg-brand2-alfa-60:before {
	background: rgba($brand2-bg, 0.6);
}

.bg-brand2-alfa-65:before {
	background: rgba($brand2-bg, 0.65);
}

.bg-brand2-alfa-70:before {
	background: rgba($brand2-bg, 0.7);
}

.bg-brand2-alfa-75:before {
	background: rgba($brand2-bg, 0.75);
}

.bg-brand2-alfa-80:before {
	background: rgba($brand2-bg, 0.8);
}

.bg-brand2-alfa-85:before {
	background: rgba($brand2-bg, 0.85);
}

.bg-brand2-alfa-90:before {
	background: rgba($brand2-bg, 0.9);
}

.bg-brand2-alfa-95:before {
	background: rgba($brand2-bg, 0.95);
}

.bg-brand3-alfa-5:before,
.bg-brand3-alfa-10:before,
.bg-brand3-alfa-15:before,
.bg-brand3-alfa-20:before,
.bg-brand3-alfa-25:before,
.bg-brand3-alfa-30:before,
.bg-brand3-alfa-35:before,
.bg-brand3-alfa-40:before,
.bg-brand3-alfa-45:before,
.bg-brand3-alfa-50:before,
.bg-brand3-alfa-55:before,
.bg-brand3-alfa-60:before,
.bg-brand3-alfa-65:before,
.bg-brand3-alfa-70:before,
.bg-brand3-alfa-75:before,
.bg-brand3-alfa-80:before,
.bg-brand3-alfa-85:before,
.bg-brand3-alfa-90:before,
.bg-brand3-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-brand3-alfa-5:before,
.bg-brand3-alfa-10:before,
.bg-brand3-alfa-15:before,
.bg-brand3-alfa-20:before,
.bg-brand3-alfa-25:before,
.bg-brand3-alfa-30:before,
.bg-brand3-alfa-35:before,
.bg-brand3-alfa-40:before,
.bg-brand3-alfa-45:before,
.bg-brand3-alfa-50:before,
.bg-brand3-alfa-55:before,
.bg-brand3-alfa-60:before,
.bg-brand3-alfa-65:before,
.bg-brand3-alfa-70:before,
.bg-brand3-alfa-75:before,
.bg-brand3-alfa-80:before,
.bg-brand3-alfa-85:before,
.bg-brand3-alfa-90:before,
.bg-brand3-alfa-95:before {
	background: rgba($brand3-bg, 0.05);
}

.bg-brand3-alfa-10:before {
	background: rgba($brand3-bg, 0.1);
}

.bg-brand3-alfa-15:before {
	background: rgba($brand3-bg, 0.15);
}

.bg-brand3-alfa-20:before {
	background: rgba($brand3-bg, 0.2);
}

.bg-brand3-alfa-25:before {
	background: rgba($brand3-bg, 0.25);
}

.bg-brand3-alfa-30:before {
	background: rgba($brand3-bg, 0.3);
}

.bg-brand3-alfa-35:before {
	background: rgba($brand3-bg, 0.35);
}

.bg-brand3-alfa-40:before {
	background: rgba($brand3-bg, 0.4);
}

.bg-brand3-alfa-45:before {
	background: rgba($brand3-bg, 0.45);
}

.bg-brand3-alfa-50:before {
	background: rgba($brand3-bg, 0.5);
}

.bg-brand3-alfa-55:before {
	background: rgba($brand3-bg, 0.55);
}

.bg-brand3-alfa-60:before {
	background: rgba($brand3-bg, 0.6);
}

.bg-brand3-alfa-65:before {
	background: rgba($brand3-bg, 0.65);
}

.bg-brand3-alfa-70:before {
	background: rgba($brand3-bg, 0.7);
}

.bg-brand3-alfa-75:before {
	background: rgba($brand3-bg, 0.75);
}

.bg-brand3-alfa-80:before {
	background: rgba($brand3-bg, 0.8);
}

.bg-brand3-alfa-85:before {
	background: rgba($brand3-bg, 0.85);
}

.bg-brand3-alfa-90:before {
	background: rgba($brand3-bg, 0.9);
}

.bg-brand3-alfa-95:before {
	background: rgba($brand3-bg, 0.95);
}

.bg-white-dark-alfa-5:before,
.bg-white-dark-alfa-10:before,
.bg-white-dark-alfa-15:before,
.bg-white-dark-alfa-20:before,
.bg-white-dark-alfa-25:before,
.bg-white-dark-alfa-30:before,
.bg-white-dark-alfa-35:before,
.bg-white-dark-alfa-40:before,
.bg-white-dark-alfa-45:before,
.bg-white-dark-alfa-50:before,
.bg-white-dark-alfa-55:before,
.bg-white-dark-alfa-60:before,
.bg-white-dark-alfa-65:before,
.bg-white-dark-alfa-70:before,
.bg-white-dark-alfa-75:before,
.bg-white-dark-alfa-80:before,
.bg-white-dark-alfa-85:before,
.bg-white-dark-alfa-90:before,
.bg-white-dark-alfa-95:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	content: "";
	left: 0;
	top: 0;
}

.bg-white-dark-alfa-5:before,
.bg-white-dark-alfa-10:before,
.bg-white-dark-alfa-15:before,
.bg-white-dark-alfa-20:before,
.bg-white-dark-alfa-25:before,
.bg-white-dark-alfa-30:before,
.bg-white-dark-alfa-35:before,
.bg-white-dark-alfa-40:before,
.bg-white-dark-alfa-45:before,
.bg-white-dark-alfa-50:before,
.bg-white-dark-alfa-55:before,
.bg-white-dark-alfa-60:before,
.bg-white-dark-alfa-65:before,
.bg-white-dark-alfa-70:before,
.bg-white-dark-alfa-75:before,
.bg-white-dark-alfa-80:before,
.bg-white-dark-alfa-85:before,
.bg-white-dark-alfa-90:before,
.bg-white-dark-alfa-95:before {
	background: rgba($grey-lighter-8, 0.05);
}

.bg-white-dark-alfa-10:before {
	background: rgba($grey-lighter-8, 0.1);
}

.bg-white-dark-alfa-15:before {
	background: rgba($grey-lighter-8, 0.15);
}

.bg-white-dark-alfa-20:before {
	background: rgba($grey-lighter-8, 0.2);
}

.bg-white-dark-alfa-25:before {
	background: rgba($grey-lighter-8, 0.25);
}

.bg-white-dark-alfa-30:before {
	background: rgba($grey-lighter-8, 0.3);
}

.bg-white-dark-alfa-35:before {
	background: rgba($grey-lighter-8, 0.35);
}

.bg-white-dark-alfa-40:before {
	background: rgba($grey-lighter-8, 0.4);
}

.bg-white-dark-alfa-45:before {
	background: rgba($grey-lighter-8, 0.45);
}

.bg-white-dark-alfa-50:before {
	background: rgba($grey-lighter-8, 0.5);
}

.bg-white-dark-alfa-55:before {
	background: rgba($grey-lighter-8, 0.55);
}

.bg-white-dark-alfa-60:before {
	background: rgba($grey-lighter-8, 0.6);
}

.bg-white-dark-alfa-65:before {
	background: rgba($grey-lighter-8, 0.65);
}

.bg-white-dark-alfa-70:before {
	background: rgba($grey-lighter-8, 0.7);
}

.bg-white-dark-alfa-75:before {
	background: rgba($grey-lighter-8, 0.75);
}

.bg-white-dark-alfa-80:before {
	background: rgba($grey-lighter-8, 0.8);
}

.bg-white-dark-alfa-85:before {
	background: rgba($grey-lighter-8, 0.85);
}

.bg-white-dark-alfa-90:before {
	background: rgba($grey-lighter-8, 0.9);
}

.bg-white-dark-alfa-95:before {
	background: rgba($grey-lighter-8, 0.95);
}
