/*------------------------------------------------------------------
[Blog]
*/

//colors
$color_mountain_mist_approx: #999;
$color_desert_storm_approx: #f8f8f8;

$white: #ffffff;
$color_tapa_approx: #777777;
$color_wild_sand_approx: #f5f5f5;

.post {
	margin: 0 0 70px;
	.post-title {
		font-size: 23px;
		margin-bottom: 10px;
	}
	.post-content {
		padding: 30px 0 0;
	}
	&.format-quote {
		background: $brand-primary;
		color: $white;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-out;
		padding: 0;
		.post-content {
			padding: 30px 25px;
		}
		blockquote {
			background: $brand-primary;
			color: $white;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease-out;
			padding: 0;
			font-style: normal;
			font-size: 17px;
			padding: 30px 25px;
			&:hover {
				opacity: 0.9;
			}
			footer {
				color: $white;
				font-weight: 600;
				&:before {
					content: none;
				}
			}
			small {
				color: $white;
				font-weight: 600;
				&:before {
					content: none;
				}
			}
			.small {
				color: $white;
				font-weight: 600;
				&:before {
					content: none;
				}
			}
			:before {
				font-family: 'FontAwesome';
				font-size: 24px;
				display: block;
				content: "\f10e";
				margin: 0 0 20px;
			}
		}
		&:hover {
			opacity: 0.9;
		}
	}
}
.post-meta {
	list-style: none;
	margin: 0 0 25px;
	padding: 0;
	> li {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 11px;
		color: $color_mountain_mist_approx;
		+ li:before {
			content: "/\00a0";
			padding: 0 5px;
		}
	}
}
@media(max-width: 767px) {
	.post-thumbnail .post-content {
		padding: 30px 0 0;
	}
	.blog-content + .sidebar {
		margin: 70px 0 0;
	}
	.sidebar + .blog-content {
		margin: 70px 0 0;
	}
}
/*
.comments {
	margin-bottom: 70px;
	.bottom-line:after {
		margin-bottom: 35px;
	}
}
.comment-form {
	margin-bottom: 70px;
	.bottom-line:after {
		margin-bottom: 35px;
	}
}
.comment {
	position: relative;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	&:last-child .comment-content {
		margin-bottom: 0;
	}
}
.comment-content {
	position: relative;
	position: relative;
	background: $color_wild_sand_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	margin: 0 0 35px 90px;
	padding: 30px;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}
.comment-avatar {
	position: relative;
	max-width: 70px;
	margin: 5px 0 0;
	float: left;
	z-index: 1;
	&:after {
		position: absolute;
		background: $color_wild_sand_approx;
		content: "";
		height: 2px;
		width: 20px;
		top: 34px;
		left: 70px;
		z-index: -1;
	}
	img {
		width: 70px;
		height: 70px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
	}
}
.comment-meta {
	font-size: 12px;
	opacity: 0.7;
}
.comment-tools {
	position: absolute;
	padding: 0 30px;
	z-index: 1;
	top: 25px;
	right: 0;
	a {
		color: $color_mountain_mist_approx;
		margin: 0 0 0 15px;
		&:hover {
			color: $brand-primary;
		}
		&:focus {
			color: $brand-primary;
		}
	}
}
@media(min-width: 768px) {
	.comment-reply {
		margin-left: 90px;
	}
}
*/
.post-columns .post {
	background: $color_desert_storm_approx;
	margin: 0 0 30px;
	.post-title {
		font-size: 20px;
	}
	.post-content {
		padding: 30px 25px;
		> *:last-child {
			margin-bottom: 0;
		}
	}
}
.post-thumbnail .post-content {
	padding: 0;
}
.tags a {
	background: $color_desert_storm_approx;
	display: inline-block;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	padding: 8px 12px;
	margin: 0 0 6px;
	font-size: 11px;
	color: $color_tapa_approx;
	&:hover {
		background: $brand-primary;
		color: $white;
	}
	&:focus {
		background: $brand-primary;
		color: $white;
	}
}