/*------------------------------------------------------------------
[Breadcrumb]
*/

//colors
$color_mountain_mist_approx: #999999;


.breadcrumb {
	background: none;
	padding: 0;
	margin: 0;
	a {
		color: $color_mountain_mist_approx;
		&:hover {
			color: $brand-primary;
		}
		&:focus {
			color: $brand-primary;
		}
	}
	> li + li:before {
		color: $color_mountain_mist_approx;
		padding: 0 8px;
	}
	> .active {
		color: $color_mountain_mist_approx;
		opacity: 0.9;
	}
}
