/*------------------------------------------------------------------
[Carousel]
*/

//colors
$color_log_cabin_approx: #222;
$white: white;


.owl-prev {
	position: absolute;
	top: 50%;
	margin: -23px 0 0;
	font-size: 18px;
	color: $color_log_cabin_approx;
	background: $white;
	height: 46px;
	width: 46px;
	line-height: 46px;
	text-align: center;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	left: 23px;
}
.owl-next {
	position: absolute;
	top: 50%;
	margin: -23px 0 0;
	font-size: 18px;
	color: $color_log_cabin_approx;
	background: $white;
	height: 46px;
	width: 46px;
	line-height: 46px;
	text-align: center;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	right: 23px;
}
.owl-pagination {
	text-align: center;
	margin: 10px 0 0;
	+ .owl-buttons {
		.owl-prev {
			margin-top: -35.5px;
		}
		.owl-next {
			margin-top: -35.5px;
		}
	}
}
.owl-page {
	display: inline-block;
	position: relative;
	margin: 0 5px;
	span {
		background: $brand-primary;
	}
	&.active span {
		background: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 3px $brand-primary;
	}
}
.carousel-controls-white {
	.owl-prev {
		color: $white;
	}
	.owl-next {
		color: $white;
	}
}
.image-slider {
	padding: 0;
	margin: 0;
	.owl-item {
		padding: 0;
		margin: 0;
	}
	.owl-pagination {
		position: absolute;
		bottom: 10px;
		width: 100%;
	}
	.owl-page {
		span {
			background: $white;
		}
		&.active span {
			background: transparent;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 0 3px $white;
		}
	}
	.owl-buttons {
		.owl-prev {
			margin-top: -23px;
		}
		.owl-next {
			margin-top: -23px;
		}
	}
}
.images-carousel {
	width: auto;
	margin: 0 -5px;
	.owl-item {
		padding: 0 5px;
	}
}
.box-carousel {
	width: auto;
	margin: 0 -15px;
	.owl-item {
		padding: 0 15px;
	}
}
.owl-carousel:hover {
	.owl-prev {
		opacity: 0.6;
	}
	.owl-next {
		opacity: 0.6;
	}
}
.carousel-pagination-white .owl-page {
	span {
		background: $white;
	}
	&.active span {
		background: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 3px $white;
	}
}