/*------------------------------------------------------------------
[Clients]
*/

//colors
$color_gallery_approx: #eee;

.client {
	text-align: center;
	opacity: 0.7;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	&:hover {
		opacity: 1;
	}
	&:focus {
		opacity: 1;
	}
}
.clients-carousel {
	text-align: center;
	.owl-item a {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
		}
	}
}
@media(max-width: 991px) {
	.clients-bordered .client:nth-child(3n) {
		border: 0;
	}
}
@media(max-width: 767px) {
	.clients-bordered .client {
		&:nth-child(3n) {
			border-right: 1px solid $color_gallery_approx;
		}
		&:nth-child(2n) {
			border: 0;
		}
	}
}
.clients-bordered .client {
	padding: 70px 10px;
	&:not(:last-child) {
		border-right: 1px solid $color_gallery_approx;
	}
}