/*------------------------------------------------------------------
[Dropdown]
*/

//colors
$color_log_cabin_approx: #222222;
$color_tuatara_approx: #363636;
$white_50: rgba(255, 255, 255, 0.5);
$white: #ffffff;

.dropdown-menu {
	background-color: $color_log_cabin_approx;
	border: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	min-width: 180px;
	font-size: 12px;
	padding: 10px 0;
	z-index: 1031;
	.divider {
		background: $color_tuatara_approx;
		margin: 10px 0;
	}
	li > a {
		background: none !important;
		padding: 10px 24px 10px 20px;
		color: $white_50;
		&:hover {
			color: $white;
		}
		&:focus {
			color: $white;
		}
	}
	.open > a {
		color: $white;
		&:hover {
			color: $white;
		}
		&:focus {
			color: $white;
		}
	}
}