/*------------------------------------------------------------------
[Features Box]
*/

//colors
$black:  black;

.feature {
	margin: 35px 0;
	img {
		width: 100%;
		margin: 0 0 25px;
	}
	&.feature-circle {
		text-align: center;
		img {
			width: auto;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
		}
	}
	.box-shadow {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 6px 32px -15px $black;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-out;
		&:hover {
			opacity: 0.5;
		}
	}
}
.demo-img {
	padding: 0 20px;
}