/*------------------------------------------------------------------
[Forms]
*/

//colors
$color_gallery_approx: #eee;
$color_mountain_mist_approx: #999999;

$white: #ffffff;
$color_tapa_approx: #777777;

.form-control {
	border: 2px solid $color_gallery_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	color: $color_mountain_mist_approx;
	height: 39px;
	font-size: 14px;
	&:focus {
		border-color: $brand-primary;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
	&.form-transparent {
		background: transparent;
		border: 2px solid $white;
		color: $white;
	}
	&.form-circle {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 30px;
	}
}
.form-group {
	margin-bottom: 20px;
}
.input-lg {
	height: 47px;
	font-size: 14px;
}
.input-sm {
	height: 38px;
	font-size: 13px;
}
.search-form {
	position: relative;
	&:after {
		position: absolute;
		top: 0;
		right: 10px;
		font-family: 'FontAwesome';
		line-height: 40px;
		content: '\f002';
		font-size: 14px;
		color: $color_tapa_approx;
		opacity: 0.5;
	}
}
.search-form-inner {
	input::-webkit-input-placeholder {
		color: #bbb !important;
	}
	input {
		&:focus::-webkit-input-placeholder {
			color: #bbb !important;
		}
		&:focus::-moz-placeholder {
			color: #bbb !important;
		}
		&:-moz-placeholder {
			color: #bbb !important;
		}
		&:focus {
			&:-moz-placeholder {
				color: #bbb !important;
			}
			&:-ms-input-placeholder {
				color: #bbb !important;
			}
		}
		&:-ms-input-placeholder {
			color: #bbb !important;
		}
	}
	input::-moz-placeholder {
		color: #bbb !important;
	}
}
input.form-control {
	&.form-transparent::-webkit-input-placeholder {
		color: $white !important;
	}
	&.form-transparent::-moz-placeholder {
		color: $white !important;
	}
	&.form-transparent {
		&:-moz-placeholder {
			color: $white !important;
		}
		:-ms-input-placeholder {
			color: $white !important;
		}
	}
}
