/*------------------------------------------------------------------
[Gallery]
*/

.gallery {
	margin-left: -4px;
	margin-right: -4px;
	.gallery-item {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
		padding: 0 4px 8px;
		width: 50%;
		&.gallery-item-big {
			width: 100% !important;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&.gallery-3 .gallery-item {
		width: 33.333%;
	}
	&.gallery-4 .gallery-item {
		width: 25%;
	}
	&.gallery-6 .gallery-item {
		width: 16.66666667%;
	}
}