/*------------------------------------------------------------------
[General Styles]
*/

body {
	background: $pure-white;
	font-family: $font-family-sans-serif;
	line-height: 1.8;
	font-size: 14px;
	color: $text-color;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: 0;
}

.disable-hover {
	pointer-events: none;
}

::-moz-selection {
	background: $brand-primary;
	color: $pure-white !important;
}

::-webkit-selection {
	background: $brand-primary;
	color: $pure-white !important;
}

::selection {
	background: $brand-primary;
	color: $pure-white !important;
}

.relative {
	position: relative;
}

@media(max-width: 375px) {
	.hidden-xxs {
		display: none;
	}
}

.vertical-align {
	display: table;
	width: 100%;
	height: 100%;
}

.vertical-align-inner {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.object-related-pages {
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0;

	li {
		padding: 0 0 0 20px;
	}
}

.object-related-files {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0 0 15px 0;
		padding: 0;
		background: #f0f5fa;

		a {
			font-size: 14px;
			color: #444;

			.col1 {
				padding: 10px 6px;
				background-color: #009bd9;
				color: #fff;
			}

			.col2 {
				padding: 10px;
			}

			.col3 {
				padding: 10px 6px
			}
		}
	}
}