/*------------------------------------------------------------------
[Header & Navigation]
*/

//colors
$white: #ffffff;
$color_wild_sand_approx: #f5f5f5;
$color_mountain_mist_approx: #999;
$color_log_cabin_approx: #222222;
$white_10: rgba(255, 255, 255, 0.1);
$white_70: rgba(255, 255, 255, 0.7);
$black: #000000;
$color_mine_shaft_approx: #333333;

$color_mine_shaft_50_approx: rgba(51, 51, 51, 0.5);
$white_50: rgba(255, 255, 255, 0.5);

.btn-group.lara-user-menu {
	.btn-logout,
	.dropdown-toggle {
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 20px;
		font-weight: 400;
		font-size: 11px;
		display: block;
		padding: 33px 15px;
		color: $color_mountain_mist_approx;
		transition: all 0.3s ease-out;
		background-color: transparent;
		border: none;

		&.active {
			color: $color_log_cabin_approx;
		}

		&:hover {
			color: $color_log_cabin_approx;
		}

		&:focus {
			color: $color_log_cabin_approx;
		}
	}

	&.open {
		.dropdown-toggle {
			box-shadow: none;
		}
	}
}

.header {
	background: $white;
	position: relative;
	z-index: 1030;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 -1px 0 $color_wild_sand_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: height 0.3s ease-out, background 0.3s ease-out, box-shadow 0.3s ease-out;

	&.header-fixed {
		position: fixed;
		z-index: 1030;
		right: 0;
		left: 0;
	}
}

.inner-header {
	position: relative;
	z-index: 1;
	float: left;
}

.inner-brand {
	display: table-cell;
	vertical-align: middle;
	height: 86px;
	font-weight: 700;
	font-size: 18px;
	color: $black;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-out;

	.brand-light {
		display: none;
	}

	img {
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}

.menu-extras {
	padding: 0 0 0 15px;
	margin: 0 0 0 15px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: -1px 0 0 $color_wild_sand_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: box-shadow 0.3s ease-out 0.125s;

	.menu-item {
		float: left;
	}

	> .menu-item > div > a {
		position: relative;
		display: block;
		line-height: 20px;
		font-size: 18px;
		color: $color_mine_shaft_approx;
		color: $color_mountain_mist_approx;
		padding: 33px 15px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-out;

		&:hover {
			color: $color_log_cabin_approx;
		}

		&:focus {
			color: $color_log_cabin_approx;
		}
	}
}

.cart-badge {
	position: absolute;
	background: $brand-primary;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
	height: 14px;
	width: 14px;
	top: 50%;
	left: 23px;
	margin-top: -13px;
	text-align: center;
	line-height: 14px;
	font-weight: bold;
	font-size: 8px;
	color: $white;
}

.main-nav {
	position: relative;
}

.inner-nav {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		float: left;

		> a {
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 20px;
			font-weight: 400;
			font-size: 11px;
			display: block;
			padding: 33px 15px;
			color: $color_mountain_mist_approx;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease-out;

			&.active {
				color: $color_log_cabin_approx;
			}

			&:hover {
				color: $color_log_cabin_approx;
			}

			&:focus {
				color: $color_log_cabin_approx;
			}
		}

		&.submenu-open > a {
			color: $color_log_cabin_approx;
		}
	}
}

.submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background: $color_log_cabin_approx;
	padding: 0;
	min-width: 180px;
	opacity: 0;
	z-index: 1030;
	visibility: hidden;
	text-align: left;
	font-size: 13px;

	.submenu {
		left: 100%;
		top: 0;
	}

	li {
		position: relative;

		a {
			position: relative;
			display: block;
			line-height: 1.4;
			padding: 12px 27px 12px 20px;
			border-bottom: 1px solid $color_mine_shaft_50_approx;

			> {
				.fa {
					text-align: center;
					margin-right: 6px;
					width: 22px;
				}

				.icons {
					text-align: center;
					margin-right: 6px;
					width: 22px;
				}
			}
		}

		> a {
			color: $white_50;
			transition: all 0.3s ease-out;

			&:hover {
				background: $color_mine_shaft_50_approx;
				color: $white;
			}

			&:focus {
				background: $color_mine_shaft_50_approx;
				color: $white;
			}
		}

		&:last-child > a {
			border: 0;
		}

		&.submenu-open > a {
			background: $color_mine_shaft_50_approx;
			color: $white;
		}

		&:first-child {
			padding-top: 10px !important;
		}

		&:last-child {
			padding-bottom: 10px !important;
		}

	}

	.has-submenu > a:after {
		position: absolute;
		content: "\f105";
		display: block;
		right: 14px;
		top: 50%;
		margin-top: -7px;
		font-family: FontAwesome;
		text-rendering: auto;
		font-size: 10px;
	}
}

.submenu-mega {
	display: table;
	width: 100%;
	padding: 0;
	right: 0;
	left: 0;

	> li {
		display: table-cell;
		padding: 15px 10px;
		width: 25%;

		> ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&:not(:last-child) {
			border-right: 1px solid $color_mine_shaft_50_approx;
		}
	}

	li a {
		border: 0;
	}
}

.submenu-title {
	position: relative;
	display: block;
	line-height: 1.4;
	padding: 12px 27px 12px 20px;
	border-bottom: 1px solid $color_mine_shaft_50_approx;
	border: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.8;
	font-weight: 700;
	font-size: 11px;
	color: $white;
}

.main-nav-toggle {
	border-left: 1px solid $color_wild_sand_approx;
	display: none;
	float: right;
	padding: 33px 0 33px 15px;
	margin-left: 15px;
}

.nav-icon-toggle {
	position: relative;
	height: 20px;
	width: 20px;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(0deg);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		background: $black;
		position: absolute;
		display: block;
		height: 1px;
		width: 100%;
		opacity: 1;
		left: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 3px;
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: 10px;
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left center;
		}

		&:nth-child(3) {
			top: 16px;
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left center;
		}
	}

	&.open span {
		&:nth-child(1) {
			top: 2px;
			left: 3px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			opacity: 0;
			width: 0;
		}

		&:nth-child(3) {
			top: 16px;
			left: 3px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-45deg);
		}
	}
}

@media(max-width: 991px) {
	.main-nav-toggle {
		display: block;
	}
	.main-nav {
		position: absolute;
		background: $white;
		border-bottom: 1px solid $color_wild_sand_approx;
		max-height: 340px;
		width: 100%;
		left: 0;
		top: 100%;

		&.in {
			overflow-y: auto;
		}
	}
	.inner-nav {
		float: none !important;
		padding: 10px 15px;

		> li {
			display: block;
			float: none;

			> a {
				position: relative;
				padding: 10px 0;
			}

			&:not(:last-child) > a {
				border-bottom: 1px solid $color_wild_sand_approx;
			}
		}
	}
	.submenu {
		background: transparent;
		display: none;
		margin: 0;
		padding: 0 0 0 15px;

		a {
			border-bottom: 1px solid $color_wild_sand_approx;
		}

		.submenu {
			background: transparent;
			display: none;
			margin: 0;
		}

		&.submenu-mega {
			background: transparent;
			display: none;
			margin: 0;

			li a:after {
				right: 0;
			}
		}

		li {
			a {
				padding: 10px 4px 10px 0;
			}

			> a {
				border-bottom: 1px solid $color_wild_sand_approx;
				color: $color_mountain_mist_approx;

				&:hover {
					background: none;
					color: $color_log_cabin_approx;
				}

				&:focus {
					background: none;
					color: $color_log_cabin_approx;
				}
			}

			&.submenu-open > a {
				background: none;
				color: $color_log_cabin_approx;
			}
		}

		.has-submenu > a:after {
			right: 0;
		}
	}
	.submenu-title {
		padding: 15px 0 10px;
		background: none;
		color: $color_log_cabin_approx;
	}
	.header .container {
		width: 100%;
	}
	.submenu-open > .submenu {
		position: static;
		display: block !important;
	}
	.submenu-mega > li {
		display: block;
		width: 100%;
		padding: 0;
		border: 0;

		&:not(:last-child) {
			border: 0;
		}
	}
	.has-submenu > a:after {
		position: absolute;
		content: "\f105";
		display: block;
		right: 0;
		top: 50%;
		margin-top: -9px;
		font-family: FontAwesome;
		text-rendering: auto;
		font-size: 10px;
	}
}

@media(min-width: 992px) {
	.header-small {
		.inner-brand {
			height: 50px;

			img {
				width: 120px;
			}
		}

		.main-nav-toggle {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		.inner-nav > li > a {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		.menu-extras .menu-item a {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		.btn-group.lara-user-menu {
			.btn-logout,
			.dropdown-toggle {
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}

	}
	.main-nav.collapse {
		display: block !important;
		overflow: visible !important;
		height: auto !important;
		padding-bottom: 0;
	}
	.header.header-transparent {
		background: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 -1px 0 $white_10;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: height 0.3s ease-out, background 0.3s ease-out, box-shadow 0s ease-out;

		.brand-light {
			display: inline;
		}

		.brand-dark {
			display: none;
		}

		.menu-extras {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: -1px 0 0 $white_10;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: box-shadow 0s ease-out;

			.menu-item a {
				color: $white;

				&:hover {
					color: $white_70;
				}

				&:focus {
					color: $white_70;
				}
			}
		}

		.inner-nav > li {
			> a {
				color: $white;

				&:hover {
					color: $white_70;
				}

				&:focus {
					color: $white_70;
				}
			}

			&.active > a {
				color: $white_70;
			}

			&.submenu-open > a {
				color: $white_70;
			}
		}
	}
}

.submenu-open > .submenu {
	visibility: visible;
	opacity: 1;
}