/*------------------------------------------------------------------
[Module Hero]
*/

//colors
$white: #ffffff;
$dark-grey: #444;

.module-hero {
	background-color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
	padding: 0;
	height: 70vh;
	overflow: hidden;
	&.parallax {
		background-color: transparent;
	}
}

.hero-caption {
	position: relative;
	display: table;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	z-index: 2;
}

.hero-container {

	.hero-caption {
		width: 100%;
	}

}

.hero-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 100%;

	.hero-text-bg {
		position: relative;
		padding: 40px 20px;

		.hero-text-inner {
			position: relative;
			z-index: 2;

		}

	}
}

.fullheight {
	height: 100vh;
}

@media(max-width: 991px) {
	.module-hero {
		height: auto;
		padding: 240px 0;
	}
}

.animated-background {
	animation: animated-background 800s linear infinite;
	background-repeat: repeat-x !important;
}

@-webkit-keyframes animated-background {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}

@keyframes animated-background {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}

.hero-container {
	width: 100%;
	height: 100%;

	.hero-container-inner-left {
		position: relative;
		float: left;
		width: 50%;
		height: 100%;
	}

	.hero-container-inner-right {
		position: relative;
		float: right;
		width: 50%;
		height: 100%;
	}
}

@media(max-width: 991px) {
	.hero-container {
		.hero-container-inner-left {
			float: none;
			width: 100%;
		}
		.hero-container-inner-right {
			float: none;
			width: 100%;
		}
	}
}

.hero-textcolor-white {
	color: $dark-grey;
}

.hero-textcolor-brand1,
.hero-textcolor-brand2,
.hero-textcolor-brand3,
.hero-textcolor-black {
	color: $white;
}

.hero-caption-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	&.hero-caption-bg-fade {

		height: 40vh;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);

		.hero-caption-bottom {

			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;

			color: white;
			width: 100%;
			font-family: $font-family-sans-serif;
			font-weight: 300;
			font-size: 20px;

			.container .row {
				padding: 15px;
			}
		}
	}

	&.hero-caption-bg-block {
		background-color: rgba(0, 0, 0, 0.5);

		.hero-caption-bottom {

			color: white;
			width: 100%;
			font-family: $font-family-sans-serif;
			font-weight: 300;
			font-size: 20px;

			.container .row {
				padding: 10px;
			}
		}
	}
}

@media only screen and (min-width: 320px) {
	.hero-caption-bottom {
		font-size: 20px;
	}
}

@media only screen and (min-width: 480px) {
	.hero-caption-bottom {
		font-size: 22px;
	}
}

@media only screen and (min-width: 768px) {
	.hero-caption-bottom {
		font-size: 24px;
	}

}

@media only screen and (min-width: 992px) {
	.hero-caption-bottom {
		font-size: 26px;
	}

}

@media only screen and (min-width: 1200px) {
	.hero-caption-bottom {
		font-size: 28px;
	}

}

.hero-h20 {
	height: 20vh;
}

.hero-h30 {
	height: 30vh;
}

.hero-h40 {
	height: 40vh;
}

.hero-h50 {
	height: 50vh;
}

.hero-h60 {
	height: 60vh;
}

.hero-h70 {
	height: 70vh;
}

.hero-h80 {
	height: 80vh;
}

.hero-h90 {
	height: 90vh;
}

.fullheight {
	height: 100vh;
}

.page-hero-0 {
	padding: 35px 0 !important;
}
.page-hero-1 {
	padding: 70px 0 !important;
}
.page-hero-2 {
	padding: 140px 0 !important;
}