/*------------------------------------------------------------------
[Icon Preview]
*/

//colors
$color_wild_sand_approx: #f5f5f5;

.icon-preview {
	border: 1px solid $color_wild_sand_approx;
	display: block;
	width: 25%;
	float: left;
	padding: 10px;
	font-size: 13px;
	margin: -1px 0 0 -1px;
	.icons {
		margin-right: 5px;
	}
}
.fa-icons > div {
	border: 1px solid $color_wild_sand_approx;
	margin: -1px 0 0 -1px;
	padding: 0;
	font-size: 13px;
	> i {
		border-right: 1px solid $color_wild_sand_approx;
		display: inline-block;
		margin-right: 5px;
		min-width: 40px;
		min-height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 14px;
	}
}
