/*------------------------------------------------------------------
[Icon box]
*/

//colors


.box-icon-top {
	margin-bottom: 30px;
	padding: 30px;
	text-align: center;
	.icon-box-icon {
		font-size: 34px;
		color: $brand-primary;
		margin: 0 0 10px;
	}
	p:last-child {
		margin: 0;
	}
}
.box-icon-left {
	position: relative;
	margin-bottom: 30px;
	padding: 30px 30px 30px 60px;
	.icon-box-icon {
		font-size: 34px;
		color: $brand-primary;
		margin: 0 0 10px;
		position: absolute;
		height: 44px;
		width: 30px;
		left: 10px;
		top: 30px;
		text-align: center;
		line-height: 40px;
		font-size: 26px;
	}
	p:last-child {
		margin: 0;
	}
}
.box-icon-right {
	position: relative;
	margin-bottom: 30px;
	padding: 30px 60px 30px 30px;
	text-align: right;
	.icon-box-icon {
		font-size: 34px;
		color: $brand-primary;
		margin: 0 0 10px;
		position: absolute;
		height: 44px;
		width: 30px;
		right: 10px;
		top: 30px;
		text-align: center;
		line-height: 40px;
		font-size: 26px;
	}
	p:last-child {
		margin: 0;
	}
}
@media(max-width: 767px) {
	.box-icon-left {
		padding: 35px 0 35px 50px;
		text-align: left;
		.icon-box-icon {
			left: 0;
			top: 35px;
		}
	}
	.box-icon-right {
		padding: 35px 0 35px 50px;
		text-align: left;
		.icon-box-icon {
			left: 0;
			top: 35px;
		}
	}
}
