$aspect-ratios: (
		"1by1": 100%,
		"2by1": calc(1 / 2 * 100%),
		"3by1": calc(1 / 3 * 100%),
		"4by1": calc(1 / 4 * 100%),
		"4by3": calc(3 / 4 * 100%),
		"16by9": calc(9 / 16 * 100%),
		"3by4": calc(4 / 3 * 100%)
);

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 500ms;
}

/* Bootstrap 5 Ratio */
.aspect-ratio {
	position: relative;
	width: 100%;

	&::before {
		display: block;
		padding-top: var(--bs-aspect-ratio);
		content: "";
	}

	> * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@each $key, $ratio in $aspect-ratios {
	.aspect-ratio-#{$key} {
		--bs-aspect-ratio: #{$ratio};
	}
}

