/*------------------------------------------------------------------
[Multi-columns-row]
*/

.multi-columns-row {
	.first-in-row {
		clear: left;
	}
	.col-xs-6:nth-child(2n + 3) {
		clear: left;
	}
	.col-xs-4:nth-child(3n + 4) {
		clear: left;
	}
	.col-xs-3:nth-child(4n + 5) {
		clear: left;
	}
	.col-xs-2:nth-child(6n + 7) {
		clear: left;
	}
	.col-xs-1:nth-child(12n + 13) {
		clear: left;
	}
}
@media(min-width: 768px) {
	.multi-columns-row {
		.col-xs-6:nth-child(2n + 3) {
			clear: none;
		}
		.col-xs-4:nth-child(3n + 4) {
			clear: none;
		}
		.col-xs-3:nth-child(4n + 5) {
			clear: none;
		}
		.col-xs-2:nth-child(6n + 7) {
			clear: none;
		}
		.col-xs-1:nth-child(12n + 13) {
			clear: none;
		}
		.col-sm-6:nth-child(2n + 3) {
			clear: left;
		}
		.col-sm-4:nth-child(3n + 4) {
			clear: left;
		}
		.col-sm-3:nth-child(4n + 5) {
			clear: left;
		}
		.col-sm-2:nth-child(6n + 7) {
			clear: left;
		}
		.col-sm-1:nth-child(12n + 13) {
			clear: left;
		}
	}
}
@media(min-width: 992px) {
	.multi-columns-row {
		.col-sm-6:nth-child(2n + 3) {
			clear: none;
		}
		.col-sm-4:nth-child(3n + 4) {
			clear: none;
		}
		.col-sm-3:nth-child(4n + 5) {
			clear: none;
		}
		.col-sm-2:nth-child(6n + 7) {
			clear: none;
		}
		.col-sm-1:nth-child(12n + 13) {
			clear: none;
		}
		.col-md-6:nth-child(2n + 3) {
			clear: left;
		}
		.col-md-4:nth-child(3n + 4) {
			clear: left;
		}
		.col-md-3:nth-child(4n + 5) {
			clear: left;
		}
		.col-md-2:nth-child(6n + 7) {
			clear: left;
		}
		.col-md-1:nth-child(12n + 13) {
			clear: left;
		}
	}
}
@media(min-width: 1200px) {
	.multi-columns-row {
		.col-md-6:nth-child(2n + 3) {
			clear: none;
		}
		.col-md-4:nth-child(3n + 4) {
			clear: none;
		}
		.col-md-3:nth-child(4n + 5) {
			clear: none;
		}
		.col-md-2:nth-child(6n + 7) {
			clear: none;
		}
		.col-md-1:nth-child(12n + 13) {
			clear: none;
		}
		.col-lg-6:nth-child(2n + 3) {
			clear: left;
		}
		.col-lg-4:nth-child(3n + 4) {
			clear: left;
		}
		.col-lg-3:nth-child(4n + 5) {
			clear: left;
		}
		.col-lg-2:nth-child(6n + 7) {
			clear: left;
		}
		.col-lg-1:nth-child(12n + 13) {
			clear: left;
		}
	}
}