/*------------------------------------------------------------------
[Pages]
*/

//colors


.career-tags {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	color: $brand-primary;
	list-style: none;
	padding: 0;
	> li {
		display: inline-block;
	}
}
@media(max-width: 767px) {
	.page-content + .sidebar {
		margin: 70px 0 0;
	}
	.sidebar + .page-content {
		margin: 70px 0 0;
	}
}
