/*------------------------------------------------------------------
[Pie charts]
*/

//colors
$color_log_cabin_approx: #222222;

.pie-chart {
	position: relative;
	text-align: center;
	padding: 40px 0;
	.chart {
		position: relative;
		display: block;
		height: 180px;
		width: 180px;
		margin: 0 auto 25px;
		> canvas {
			position: absolute;
			left: 0;
			top: 0;
			height: 100% !important;
			width: 100% !important;
		}
	}
	.chart-text {
		vertical-align: middle;
		line-height: 180px;
		font-size: 22px;
		color: $color_log_cabin_approx;
		.fa {
			line-height: 180px;
		}
		[class*="ti-"] {
			line-height: 180px;
		}
	}
	.chart-title {
		h5 {
			margin: 0 0 15px;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
}