/*------------------------------------------------------------------
[Portfolio]
*/

//colors
$color_mine_shaft_approx: #333333;
$color_java_80_approx: rgba(39, 203, 192, 0.8);
$white: #ffffff;
$color_mine_shaft_90_approx: rgba(51, 51, 51, 0.9);
$white_90: rgba(255, 255, 255, 0.9);
$color_log_cabin_approx: #222222;
$color_gallery_approx: #eee;

.filters {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: inline-block;
		padding: 0 15px 35px;
		> a {
			border-bottom: 1px solid transparent;
			text-decoration: none;
			font-weight: 600;
			font-size: 14px;
			color: $color_mine_shaft_approx;
			padding: 1px 0;
			opacity: 0.6;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease-out;
			&:hover {
				border-color: $color_mine_shaft_approx;
				opacity: 1;
			}
			&.current {
				border-color: $color_mine_shaft_approx;
				opacity: 1;
			}
		}
	}
}
.works-grid {
	&.works-grid-gutter {
		margin-left: -4px;
		margin-right: -4px;
		.work-item {
			padding: 0 4px 8px;
		}
	}
	.work-item {
		width: 50%;
	}
	&.works-grid-3 .work-item {
		width: 33.333333%;
	}
	&.works-grid-4 .work-item {
		width: 25%;
	}
	&.works-grid-5 .work-item {
		width: 20%;
	}
}
.work-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	> img {
		width: 100%;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	}
}
.work-overlay {
	border: none;
	background: $color_java_80_approx;
	position: absolute;
	opacity: 0;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.work-caption {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(0.8);
	position: absolute;
	padding: 40px;
	width: 100%;
	opacity: 0;
	bottom: 0;
}
.work-title {
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0;
}
.work-category {
	color: $white;
	text-transform: lowercase;
	font-style: italic;
	font-size: 13px;
	opacity: 0.7;
}
.work-link {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
}
.works-grid-white {
	.work-overlay {
		background: $white_90;
	}
	.work-title {
		color: $color_log_cabin_approx;
	}
	.work-category {
		color: $color_log_cabin_approx;
	}
}
@media(max-width: 1023px) {
	.works-grid {
		.work-item {
			width: 50%;
		}
		&.works-grid-3 .work-item {
			width: 50%;
		}
		&.works-grid-4 .work-item {
			width: 50%;
		}
		&.works-grid-5 .work-item {
			width: 50%;
		}
	}
}
@media(max-width: 568px) {
	.works-grid {
		.work-item {
			width: 100%;
		}
		&.works-grid-3 .work-item {
			width: 100%;
		}
		&.works-grid-4 .work-item {
			width: 100%;
		}
		&.works-grid-5 .work-item {
			width: 100%;
		}
	}
}
.portfolio-info {
	list-style: none;
	padding: 0;
	margin: 0 0 35px;
	h5 {
		display: inline-block;
		margin: 0 8px 0 0;
	}
	.social-icons {
		display: inline-block;
	}
	> li:not(:last-child) {
		border-bottom: 1px solid $color_gallery_approx;
		padding: 0 0 8px;
		margin: 0 0 8px;
	}
}
.work-item:hover {
	.work-overlay {
		opacity: 1;
	}
	.work-caption {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
		opacity: 1;
	}
	.work-wrapper img {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1);
	}
}
.works-grid-dark .work-overlay {
	background: $color_mine_shaft_90_approx;
}