/*!------------------------------------------------------------------
[Preloader]
*/

//colors
$white: #fff;
$color_gallery_approx: #eee;


.page-loader {
	background: $white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9998;
}
.loader {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	text-indent: -9999em;
	background-color: transparent;
	border: 5px solid $color_gallery_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		padding: 2px;
		border-width: 2px;
		border-style: solid;
		border-color: $brand-primary transparent transparent transparent;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
	}
}
@keyframes ringrotate {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(0deg);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(360deg);
	}
}
@-webkit-keyframes ringrotate {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(0deg);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(360deg);
	}
}
