/*------------------------------------------------------------------
[Pricing]
*/

//colors
$white: #fff;
$color_gallery_approx: #eee;
$color_wild_sand_approx: #f5f5f5;
$color_log_cabin_approx: #222222;
$color_desert_storm_approx: #f8f8f8;

.pricing-table {
	background: $white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 1px 1px $color_gallery_approx;
	position: relative;
	text-align: center;
	margin: 10px 0 0;
	&.best-value {
		z-index: 1;
		margin: 0;
		.pricing-title {
			padding: 30px 0;
		}
		.pricing-action {
			padding: 30px 0;
		}
	}
}
.pricing-title {
	padding: 25px 0;
	h6 {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		margin: 0;
	}
}
.pricing-action {
	padding: 25px 0;
}
.pricing-price {
	border-top: 1px solid $color_wild_sand_approx;
	border-bottom: 1px solid $color_wild_sand_approx;
	padding: 20px 0;
	.price-unit {
		text-transform: uppercase;
		font-size: 54px;
		color: $color_log_cabin_approx;
	}
}
@media(max-width: 767px) {
	.pricing-table.best-value {
		margin: 10px 0 0;
	}
}
.price-unit > span {
	vertical-align: top;
	letter-spacing: 2px;
	line-height: 3.5;
	font-size: 22px;
}
.pricing-features ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		border-bottom: 1px solid $color_wild_sand_approx;
		padding: 8px 0;
		&:nth-child(odd) {
			background: $color_desert_storm_approx;
		}
	}
}
