/*------------------------------------------------------------------
[Shop]
*/

//colors

$color_gallery_approx: #eeeeee;
$color_wild_sand_approx: #f5f5f5;
$white: #fff;
$color_java_80_approx: rgba(39, 203, 192, 0.8);

.product-slider {
	padding-right: 100px;
	.owl-controls {
		position: absolute;
		right: 0;
		top: 0;
		width: 90px;
		.item-link {
			position: relative;
			display: block;
			width: 90px;
			height: 90px;
			margin: 0 2px;
			outline: none;
			opacity: 0.6;
			&:focus {
				outline: none;
			}
		}
		.owl-page {
			margin: 0;
			span {
				display: none;
			}
		}
		.active .item-link {
			opacity: 1;
		}
	}
	.owl-pagination {
		margin: 0;
	}
	.item img {
		display: block;
		width: 100%;
		height: auto;
	}
}
@media(max-width: 767px) {
	.product-slider {
		padding: 0 0 30px;
		.owl-controls {
			position: static;
			text-align: left;
			width: auto;
			margin: 5px 0 0;
			.owl-pagination {
				text-align: left;
			}
			.item-link {
				font-size: 0;
				margin: 0 5px 0 0;
			}
		}
	}
}
.sale-text {
	text-decoration: line-through;
	display: inline-block;
	margin-right: 20px;
	opacity: 0.2;
}
.star-rating {
	font-family: FontAwesome;
	color: $brand-primary;
}
.coupon {
	border-top: 1px solid $color_gallery_approx;
	padding: 20px;
}
.cart-with-coupon {
	border: 1px solid $color_gallery_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	margin: 0 0 50px;
}
.cart-table {
	margin: 0;
	.col-trash {
		padding-left: 40px;
		text-align: center;
	}
	.cart-thumbnail {
		max-width: 90px;
	}
	.col-quantity {
		text-align: center;
		.form-control {
			display: inline-block;
			text-align: center;
			max-width: 60px;
			padding: 0 0 0 12px;
		}
	}
	.col-remove {
		width: 75px;
	}
	.col-thumbnail {
		width: 130px;
	}
	.col-price {
		text-align: center;
	}
	.col-subtotal {
		text-align: center;
	}
	> thead > tr {
		> th {
			vertical-align: middle;
			padding: 20px;
		}
		> td {
			vertical-align: middle;
			padding: 20px;
		}
	}
	> tbody > tr {
		> th {
			vertical-align: middle;
			padding: 20px;
		}
		> td {
			vertical-align: middle;
			padding: 20px;
		}
	}
	> tfoot > tr {
		> th {
			vertical-align: middle;
			padding: 20px;
		}
		> td {
			vertical-align: middle;
			padding: 20px;
		}
	}
}
.payment {
	border: 1px solid $color_gallery_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	margin: 0 0 25px;
}
.payment-table {
	border: 0;
	margin: 0;
	> tbody > tr {
		> td {
			border: 0;
			border-top: 1px solid $color_gallery_approx;
			padding: 20px;
		}
		&:first-child > td {
			border: 0;
		}
	}
}
.totals {
	border: 1px solid $color_gallery_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	margin: 0 0 25px;
	.total {
		padding: 20px;
		border-top: 1px solid $color_gallery_approx;
		> .row:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.subtotal {
		padding: 20px;
		> .row:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.totals-table {
	border: 0;
	margin: 0;
	> tbody > tr {
		> td {
			padding: 0 20px 20px;
			border: 0;
		}
		&:first-child > td {
			padding: 20px;
		}
		&:last-child > td {
			border-top: 1px solid $color_gallery_approx;
			padding: 20px;
		}
	}
}
.shop-filters {
	border-bottom: 2px solid $color_wild_sand_approx;
	padding: 0 0 35px;
	margin: 0 0 35px;
}
.shop-item {
	margin: 0 0 35px;
	&:hover {
		.shop-item-tools {
			opacity: 1;
		}
		.shop-item-photo:after {
			background: $color_java_80_approx;
		}
	}
}
.shop-item-title {
	text-align: center;
	h5 {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.shop-item-photo {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
	&:after {
		background: transparent;
		position: absolute;
		display: block;
		content: " ";
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-in-out 0s;
	}
}
.shop-item-tools {
	position: absolute;
	padding: 20px;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 2;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out 0s;
	> div {
		display: table;
		height: 100%;
		width: 100%;
		> div {
			vertical-align: middle;
			display: table-cell;
			text-align: center;
		}
	}
	a {
		border: 2px solid $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		display: inline-block;
		text-align: center;
		line-height: 36px;
		font-size: 18px;
		height: 40px;
		width: 40px;
		color: $white;
		margin: 0 5px;
		&:hover {
			opacity: 0.7;
		}
		&:focus {
			opacity: 0.7;
		}
	}
}
.product-description .star-rating {
	margin-right: 15px;
}
.star-rating-1:after {
	content: "\f005\20\f006\20\f006\20\f006\20\f006";
}
.star-rating-2:after {
	content: "\f005\20\f005\20\f006\20\f006\20\f006";
}
.star-rating-3:after {
	content: "\f005\20\f005\20\f005\20\f006\20\f006";
}
.star-rating-4:after {
	content: "\f005\20\f005\20\f005\20\f005\20\f006";
}
.star-rating-5:after {
	content: "\f005\20\f005\20\f005\20\f005\20\f005";
}
.reviews .comment-content {
	margin-left: 0;
	p {
		margin-bottom: 10px;
	}
}