/*------------------------------------------------------------------
[Social Icons]
*/

//colors
$color_wild_sand_approx: #f5f5f5;
$color_tapa_approx: #777777;

$white: #ffffff;

.social-icons {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: inline-block;
		> a {
			background: $color_wild_sand_approx;
			display: block;
			margin: 0 8px 8px 0;
			text-align: center;
			line-height: 32px;
			font-size: 14px;
			height: 32px;
			width: 32px;
			color: $color_tapa_approx;
			&:hover {
				background: $brand-primary;
				color: $white;
			}
			&:focus {
				background: $brand-primary;
				color: $white;
			}
		}
	}
}
.social-icons-lg > li > a {
	line-height: 48px;
	font-size: 16px;
	height: 48px;
	width: 48px;
}
.social-icons-md > li > a {
	line-height: 40px;
	height: 40px;
	width: 40px;
}
.social-icons-round > li > a {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
}
.social-icons-circle > li > a {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
}
.social-icons-colored > li > a {
	color: $white;
	&:hover {
		opacity: 0.85;
	}
	&:focus {
		opacity: 0.85;
	}
}
.social-icons-simple > li > a {
	display: inline;
	background: none;
	margin: 0 10px 10px 0;
	&:hover {
		background: none;
		color: inherit;
	}
	&:focus {
		background: none;
		color: inherit;
	}
}
