/*------------------------------------------------------------------
[Top bar]
*/

//colors
$white: #ffffff;
$color_wild_sand_approx: #f5f5f5;
$black: #000000;
$white_85: rgba(255, 255, 255, 0.85);
$color_log_cabin_approx: #222;

.top-bar {
	background: $white;
	border-bottom: 1px solid $color_wild_sand_approx;
	font-size: 12px;
	padding: 8px 0;
	&.top-bar-black {
		border: 0;
		background: $black;
		color: $white;
	}
}
.top-bar-black {
	a {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-out;
		color: $white;
		&:hover {
			color: $white_85;
		}
		&:focus {
			color: $white_85;
		}
	}
	.list-dividers li:not(:last-child) a {
		border-right: 1px solid $color_log_cabin_approx;
	}
}
.top-bar-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: inline-block;
		&:not(:first-child) {
			margin-left: 10px;
		}
	}
	&.list-icons > li {
		.fa {
			margin-right: 5px;
		}
		.icons {
			margin-right: 5px;
		}
	}
}
@media(max-width: 991px) {
	.top-bar .container {
		width: 100%;
	}
}
.list-dividers li:not(:last-child) a {
	border-right: 1px solid $color_wild_sand_approx;
	padding-right: 10px;
}