/*------------------------------------------------------------------
[ Bootstrap Variables ]
*/

$body-bg:                         #fafbfc;
$text-color:                      #444;

$brand-primary:                   #27CBC0;
$brand-success:                   #0db14b;
$brand-info:                      #2196f3;
$brand-warning:                   #ff6f00;
$brand-danger:                    #e13200;

$brand1:                          #009be1;
$brand2:                          #002c50;
$brand3:                          #e50051;
$brand4:                          #f07f35;
$brand5:                          #fece43;

$brand1-bg:                       #1E78C8;
$brand2-bg:                       #002c50;
$brand3-bg:                       #A0003C;

$link-color:                      #1e78c8;
$link-hover-color:                #e1004b;

// Flat buttons
$btn-primary-border:              $brand-primary;
$btn-success-border:              $brand-success;
$btn-info-border:                 $brand-info;
$btn-warning-border:              $brand-warning;
$btn-danger-border:               $brand-danger;


/*------------------------------------------------------------------
[ Extra Colors ]
*/

$brand-secondary:                 #e1004b;
$btn-secondary-color:             #fff !default;
$btn-secondary-bg:                $brand-secondary !default;
$btn-secondary-border:            $brand-secondary !default;


$pure-black:                      #000;

$grey-slate-light:                #dce1e6;

$grey-dark-1:                     #111;
$grey-dark-2:                     #222;
$grey-dark-3:                     #333;
$grey-dark-4:                     #444;

$grey-5:                          #555;
$grey-6:                          #666;
$grey-7:                          #777;
$grey-8:                          #888;
$grey-9:                          #999;

$grey-light-1:                    #aaa;
$grey-light-2:                    #bbb;
$grey-light-3:                    #ccc;
$grey-light-4:                    #ddd;
$grey-light-5:                    #eee;

$grey-lighter-1:                  #f1f1f1;
$grey-lighter-2:                  #f2f2f2;
$grey-lighter-3:                  #f3f3f3;
$grey-lighter-4:                  #f4f4f4;
$grey-lighter-5:                  #f5f5f5;
$grey-lighter-6:                  #f6f6f6;
$grey-lighter-7:                  #f7f7f7;
$grey-lighter-8:                  #f8f8f8;
$grey-lighter-9:                  #f9f9f9;

$pure-white:                      #fff;

