/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ v1.0.0 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*------------------------------------------------------------------
[ Bootstrap Variables ]
*/


$font-family-sans-serif:          "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:                  16px;
$line-height-base:                1.8;

$headings-font-family:            "Lato", Helvetica, Arial, serif;
$headings-font-weight:            300;
$headings-line-height:            1.1;

$border-radius-base:              0;
$border-radius-large:             0;
$border-radius-small:             0;


// Media queries breakpoints

$screen-xs-min:                   480px;
$screen-sm-min:                   768px;
$screen-md:                       992px;
$screen-lg-min:                   1200px;

// Grid gutter
// $grid-gutter-width:               48px;


/*------------------------------------------------------------------
[ Lara 6 Variables ]
*/

// Main Border
$main-border-color:               $grey-lighter-5;
$main-border-style:               solid;
$main-border-width:               1px;

// Site-wide Radius
$brand-radius:                    2px;

// Override Radius
$brand-custom-radius:             6px;
$brand-custom-round:              1000px;

// Transitions
$main-custom-transition:          all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);

// Animate Custom
$trans3d-x: 20px;
$trans3d-y: 20px;
$trans3d-z: 20px;
