.main-wrapper {
	padding-top: 70px;
}

.ishome .main-wrapper {
	padding-top: 0;
}

.container-fluid {
	max-width: 975px;
}
.container-fluid.full-width {
	max-width: none;
}

.g-recaptcha {
	display: inline-block; // needed for centering
}

ul.object-list {
	list-style:none;
	margin: 0;
	padding: 0;
}

ul.object-tree {
	list-style:none;
	margin: 0;
	padding: 0;
	ul {
		list-style:none;
		margin: 0 0 10px 10px;
		padding: 0;
	}
}

.grey-light-bg {
	background-color: #f2f4f6;
}

.btn-default {
	background-color: #eee;
	color: #222;
	border: solid 1px #ccc;
	text-decoration: none;

	&:hover {
		background-color: #ddd;
	}
}